<div class="bbpBox" [id]="tweet.id_str">
    <blockquote>
        <span class="twContent">{{tweet.full_text}}</span>
        <span class="twMeta"><br />
            <span class="twDecoration">&mdash;</span>
            <span class="twRealName">{{tweet.user.name}}</span>
            <span class="twDecoration"> (</span>
            <a [href]="profileUrl(tweet.user.screen_name)">
                <span class="twScreenName">@{{tweet.user.screen_name}}</span>
            </a>
            <span class="twDecoration">) </span>
            <a [href]="statusUrl(tweet)">
                <span class="twTimeStamp">{{tweet.created_at}}</span>
            </a>
            <span class="twDecoration"></span>
        </span>
    </blockquote>
</div>
