<div class="bbpBox" id="t{id}">
    <blockquote>
        <span class="twContent">{{tweetText}}</span>
        <span class="twMeta"><br />
            <span class="twDecoration">&mdash;</span>
            <span class="twRealName">{{tweet.author_name}}</span>
            <span class="twDecoration"> (</span>
            <a href="http://twitter.com/{screenName}">
                <span class="twScreenName">@{{screenName}}</span>
            </a>
            <span class="twDecoration">) </span>
            <a href="{tweetURL}">
                <span class="twTimeStamp">{{timeStamp}}</span>
            </a>
            <span class="twDecoration"></span>
        </span>
    </blockquote>
</div>
